body {
	background-image: url('https://media.giphy.com/media/KwZoSJlvep6Vy/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

img {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* or any high value */
  filter: drop-shadow(1px 0 0 black) 
        drop-shadow(0 1px 0 black)
        drop-shadow(-1px 0 0 black) 
        drop-shadow(0 -1px 0 black);
}